



div.container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: #000;
  opacity: 0.5;
  padding-top: 50px;

  > form {


    padding: 50px;
    background-color: #eee;

    > in {
      transform: translate(0, 0);
    }

    transform: translate(0, -50%);
    transition: transform 0.3s ease-out;

  }
}
