

<app-add-to-do></app-add-to-do>
<app-delete-to-do (deleteToDo)="deleteResult($event)"></app-delete-to-do>

<div class="page-container">


  <div class="add-logout">



    <div>

      <button (click)="logout()">logout</button>

    </div>


    <div>

      <button (click)="openAddToDoForm()">open add-to-do form</button>

    </div>



  </div>



  <ul>

    <ng-template ngFor let-todo [ngForOf]="toDoService.toDoArray$ | async">


      <li>


        <div>
          <span>{{todo.title}}</span>
        </div>

        <div>

          <button (click)="delete(todo.id)">delete todo</button>

        </div>


      </li>



    </ng-template>

  </ul>


</div>
